doctype html
html
  head
    title Reuben Fischer-Baum projects, articles and visualizations
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='description', content="Reuben Fischer-Baum's personal website")
    meta(name='author', content='Reuben Fischer-Baum')
    meta(property='og:title', content='reubenfb')
    meta(property='og:url', content='http://www.reubenfb.com')
    meta(property='og:image', content='=')
    meta(property='og:description', content="Reuben Fischer-Baum's personal website")
    link(rel='canonical', href='http://www.reubenfb.com')
    style
      include ../stylesheets/compiled/app.css
  body
    .top-container
      .intro
        h1
          | Reuben
          span.space  
          | Fischer-Baum
        p
          | I'm a graphics reporter at 
          a.orange(href = 'https://www.washingtonpost.com/people/reuben-fischer-baum/' target='_blank') The Washington Post
          | , previously at  
          a.orange(href = 'http://fivethirtyeight.com/contributors/reuben-fischer-baum/' target='_blank') FiveThirtyEight 
          | and 
          a.orange(href = 'https://kinja.com/reubenfb' target='_blank') Deadspin
          | . You can find me 
          a.orange(href = 'https://twitter.com/ReubenFB' target='_blank') @reubenfb
          |  or reach me at reuben.fischerbaum [at] gmail.com. I write, make graphics, and develop interactives — some of my projects are below.

      - data = _.sortBy(data, date);

      mixin charts(data)
        each graphic in data
          if _.isNull(graphic.title)
            .graphic.small.blank
          else
            a(href = "#{graphic.link}" target="_blank")
              .graphic(class = "#{graphic.highlight === 'TRUE' ? 'big' : 'small'} #{graphic.image.replace('.png', '')}")
                .filter
                .title
                  span #{graphic.title}
                img.cutout(src="./images/#{graphic.image}" alt="#{graphic.image.replace('.png', '')}-cutout")
    
      .graphics-container
        .four-column.column-container
          - fourData = utils.reorderData(data, 4)
          +charts(fourData)
        .three-column.column-container
          - threeData = utils.reorderData(data, 3)
          +charts(threeData)
        .two-column.column-container
          - twoData = utils.reorderData(data, 2)
          +charts(twoData)
        .one-column.column-container
          +charts(data)

    script(async src = 'bundle.js')
              
