doctype html
html(lang='en')
  head
    title Reuben Fischer-Baum
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='description', content="Some projects that I've made or edited")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Reuben Fischer-Baum')
    meta(property='og:title', content="Reuben Fischer-Baum")
    meta(property='og:url', content='https://www.reubenfb.com')
    meta(property='og:image', content='https://www.reubenfb.com/images/rocky-de-la-fuente.jpg')
    meta(property='og:description', content="Some projects that I've made or edited")
    link(rel='canonical', href='https://www.reubenfb.com')
    link(rel = 'stylesheet' type='text/css' href = 'app.css?v=2')
  body
    .main-container
      .intro
        h1
          | Reuben
          span.space  
          | Fischer-Baum

      - showData = _.filter(data.projects, graphic => graphic.hide != 'TRUE');
      - editData = _.filter(showData, graphic => graphic.cat == 'edit');
      - madeData = _.filter(showData, graphic => graphic.cat == 'made');

      mixin graphicImage(data)
        each graphic in data
          if _.isNull(graphic.title)
            .graphic.small.blank
          else
            a(href = "#{graphic.link}" target="_blank" rel='noopener' class= "#{graphic.secret === 'TRUE' ? 'secret' : ''}")
              .graphic(class = "#{graphic.highlight === 'TRUE' ? 'big' : 'small'}")
                .title
                  span #{graphic.title}
                img.cutout.lazy(data-src="./images/compressed/#{graphic.image}" alt="#{graphic.image.replace('.png', '')}-cutout")


      .project-container.edit
        .intro
          p
            | I’m an editor on the graphics team at 
            a.orange.bold(href = 'https://www.washingtonpost.com/people/reuben-fischer-baum/') The Washington Post
            | . I previously worked at  
            a.orange.bold(href = 'http://fivethirtyeight.com/contributors/reuben-fischer-baum/') FiveThirtyEight 
            | and 
            a.orange.bold(href = 'https://kinja.com/reubenfb') Deadspin
            | , and was a 2021-2022 
            a.orange.bold(href = 'https://nieman.harvard.edu/alumni/class-of-2022/') Nieman Fellow
            |  at Harvard. I teach data visualization at 
            a.orange.bold(href='https://data-narratives.com/') RISD
            |  and 
            a.orange.bold(href='https://data1500.github.io/spring-2024/') Brown
            | , and experiment with 
            a.orange.bold(href = './webcam/studies.html') webcam art
            | .
         
          p 
            | See a list of my 
            a.orange.bold(href="./awards.html") awards and talks
            | , or reach me at reuben.fischerbaum [at] gmail.com. Here are some of the projects I’m most proud of editing.

        .four-column.column-container
          - fourData = utils.reorderData(editData, 4)
          +graphicImage(fourData)
        .three-column.column-container
          - threeData = utils.reorderData(editData, 3)
          +graphicImage(threeData)
        .two-column.column-container
          - twoData = utils.reorderData(editData, 2)
          +graphicImage(twoData)
        .one-column.column-container
          +graphicImage(editData)

      .project-container.made
        .intro
          p Here are some projects I 
            span.bold  made myself
            | . Most are from 2012 to 2018, before I became an editor. Some are more recent!
        .four-column.column-container
          - fourData = utils.reorderData(madeData, 4)
          +graphicImage(fourData)
        .three-column.column-container
          - threeData = utils.reorderData(madeData, 3)
          +graphicImage(threeData)
        .two-column.column-container
          - twoData = utils.reorderData(madeData, 2)
          +graphicImage(twoData)
        .one-column.column-container
          +graphicImage(madeData)

      .end
        | &nbsp;

    script(async src = 'bundle.js')
              
