doctype html
html
  head
    title Reuben Fischer-Baum projects, articles and visualizations
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='description', content="Reuben Fischer-Baum's personal website")
    meta(name='author', content='Reuben Fischer-Baum')
    meta(property='og:title', content='reubenfb')
    meta(property='og:url', content='http://www.reubenfb.com')
    meta(property='og:image', content='=')
    meta(property='og:description', content="Reuben Fischer-Baum's personal website")
    link(rel='canonical', href='http://www.reubenfb.com')
    link(rel = 'stylesheet' type='text/css' href = 'app.css')
  body
    .top-container
      .intro
        h1
          | Reuben
          span.space  
          | Fischer-Baum

      - showData = _.filter(data.projects, graphic => graphic.hide != 'TRUE');
      - editData = _.filter(showData, graphic => graphic.cat == 'edit');
      - madeData = _.filter(showData, graphic => graphic.cat == 'made');

      mixin graphicImage(data)
        each graphic in data
          if _.isNull(graphic.title)
            .graphic.small.blank
          else
            a(href = "#{graphic.link}" target="_blank")
              .graphic(class = "#{graphic.highlight === 'TRUE' ? 'big' : 'small'} #{graphic.secret === 'TRUE' ? 'secret' : ''}")
                .title
                  span #{graphic.title}
                img.cutout.lazy(data-src="./images/#{graphic.image}" alt="#{graphic.image.replace('.png', '')}-cutout")


      .project-container.edit
        .intro
          p
            | I’m an assignment editor on the graphics team at 
            a.orange(href = 'https://www.washingtonpost.com/people/reuben-fischer-baum/' target='_blank') The Washington Post
            | . I previously worked at  
            a.orange(href = 'http://fivethirtyeight.com/contributors/reuben-fischer-baum/' target='_blank') FiveThirtyEight 
            | and 
            a.orange(href = 'https://kinja.com/reubenfb' target='_blank') Deadspin
            | . I’m at 
            a.orange(href = 'https://twitter.com/ReubenFB' target='_blank') @reubenfb
            |  and reuben.fischerbaum [at] gmail.com.
          p I’ve been an editor at the Post since 2018, leading a team of graphics reporters. I spent the past three years covering elections and the Trump administration. Recently I switched my focus to business and technology.
          p Here are some of the projects I’m most proud of editing.
        .four-column.column-container
          - fourData = utils.reorderData(editData, 4)
          +graphicImage(fourData)
        .three-column.column-container
          - threeData = utils.reorderData(editData, 3)
          +graphicImage(threeData)
        .two-column.column-container
          - twoData = utils.reorderData(editData, 2)
          +graphicImage(twoData)
        .one-column.column-container
          +graphicImage(editData)

      .project-container.made
        .intro
          p Here are some projects I actually made myself. Most are from 2012 to 2018. Some are more recent!
        .four-column.column-container
          - fourData = utils.reorderData(madeData, 4)
          +graphicImage(fourData)
        .three-column.column-container
          - threeData = utils.reorderData(madeData, 3)
          +graphicImage(threeData)
        .two-column.column-container
          - twoData = utils.reorderData(madeData, 2)
          +graphicImage(twoData)
        .one-column.column-container
          +graphicImage(madeData)

    script(async src = 'bundle.js')
              
