doctype html
html
  head
    title Reuben Fischer-Baum
    link(rel='stylesheet', href='app.css')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
  body
    .top-container
      .intro
        h1 Reuben
          span.space  
        h1 Fischer-Baum
        p
          | I'm a visual journalist at 
          a.orange(href = 'http://fivethirtyeight.com/contributors/reuben-fischer-baum/' target='_blank') FiveThirtyEight
          | , previously at  
          a.orange(href = 'https://kinja.com/reubenfb' target='_blank') Deadspin
          | . You can find me 
          a.orange(href = 'https://twitter.com/ReubenFB' target='_blank') @reubenfb
          |  or reach me at reuben.fischerbaum [at] gmail.com. I write, make graphics, and develop interactives — some of my projects are below.

      - data = _.sortBy(data, date);

      mixin charts(data)
        each graphic in data
          a(href = "#{graphic.link}" target="_blank")
            .graphic(class = "#{graphic.highlight === 'TRUE' ? 'big' : 'small'} #{graphic.image.replace('.png', '')}")
              .filter
              .title
                span #{graphic.title}
              img.cutout(src="./images/#{graphic.image}")
    
      .graphics-container
        .four-column.column-container
          - fourData = utils.reorderData(data, 4)
          +charts(fourData)
        .three-column.column-container
          - threeData = utils.reorderData(data, 3)
          +charts(threeData)
        .two-column.column-container
          - twoData = utils.reorderData(data, 2)
          +charts(twoData)
        .one-column.column-container
          +charts(data)

    script(src = 'bundle.js')
              
