doctype html
html(lang='en')
  head
    title Reuben Fischer-Baum
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='description', content="Some projects that I've made or edited")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Reuben Fischer-Baum')
    meta(property='og:title', content="Reuben Fischer-Baum")
    meta(property='og:url', content='https://www.reubenfb.com')
    meta(property='og:image', content='https://www.reubenfb.com/images/rocky-de-la-fuente.jpg')
    meta(property='og:description', content="Some projects that I've made or edited")
    link(rel='canonical', href='https://www.reubenfb.com')
    link(rel = 'stylesheet' type='text/css' href = 'app.css?v=3')
  body
    .main-container
      .intro
        h1
          | Reuben
          span.space  
          | Fischer-Baum

      - showData = _.filter(data.projects, graphic => graphic.hide != 'TRUE');

      mixin graphicImage(data)
        each graphic in data
          if _.isNull(graphic.title)
            .graphic.small.blank
          else
            a(href = "#{graphic.link}" target="_blank" rel='noopener')
              .graphic(class = "#{graphic.highlight === 'TRUE' ? 'big' : 'small'}")
                .title
                  span #{graphic.title}
                img.cutout.lazy(data-src="./images/compressed/#{graphic.image}" alt="#{graphic.image.replace('.png', '')}-cutout")


      .project-container
        .intro
          p
            | I’m a Senior Data Editor at 
            a.orange.bold(href= 'https://www.yahoo.com/author/reuben-fischer-baum/') Yahoo News
            | . I previously worked at 
            a.orange.bold(href = 'https://www.washingtonpost.com/people/reuben-fischer-baum/') The Washington Post
            | , 
            a.orange.bold(href = 'https://fivethirtyeightindex.com/') FiveThirtyEight
            |  and 
            a.orange.bold(href = 'https://deadspin.com/author/reubenfb/') Deadspin
            | , and was a 
            a.orange.bold(href = 'https://nieman.harvard.edu/alumni/class-of-2022/') 2021-22 Nieman Fellow
            |  at Harvard. I teach data visualization at 
            a.orange.bold(href='https://data1500.github.io/') Brown
            | , and experiment with 
            a.orange.bold(href = './webcam/studies.html') webcam art
            | .

          p
            | See a list of my 
            a.orange.bold(href="./awards.html") awards and talks
            | , or reach me at reuben.fischerbaum [at] gmail.com. Here are some of the projects I’m most proud of building and/or editing.

        .four-column.column-container
          each col in utils.reorderData(showData, 4)
            .column
              +graphicImage(col)
        .three-column.column-container
          each col in utils.reorderData(showData, 3)
            .column
              +graphicImage(col)
        .two-column.column-container
          each col in utils.reorderData(showData, 2)
            .column
              +graphicImage(col)
        .one-column.column-container
          .column
            +graphicImage(showData)

      .end
        | &nbsp;

    script(async src = 'bundle.js')
              
